Repository niklagutin/vite-template: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run el:fix, npm run sl:fix, prettier --write

.lintstagedrc.json:

{
    "*.{js,vue}": "npm run el:fix",
    "**/*.{css,scss,vue}": "npm run sl:fix",
    "*": "prettier --write"
}

Updated package.json
  package.json
Due: prettier --write

Added npm-check-updates and relevant scripts
  package-lock.json
  package.json
Due: prettier --write

Added stylelint plugin for vite
  package-lock.json
  package.json
  vite.config.js
Due: npm run el:fix, prettier --write

Added first simple rules for elsint and stylelint
  .eslintrc.js
  .stylelintrc.json
Due: npm run el:fix, prettier --write

Added vue/multi-word-component-names rule in eslintrc
  .eslintrc.js
Due: npm run el:fix, prettier --write

Added alias for src folder in vite.config
  src/App.vue
  src/components/HelloWorld.vue
  vite.config.js
Due: npm run el:fix, npm run sl:fix, prettier --write

Added normalize.css and reset.css
  index.html
  package-lock.json
  package.json
  src/assets/scss/common.scss
  src/assets/scss/common/_reset.scss
  src/main.js
Due: npm run el:fix, npm run sl:fix, prettier --write

Added shared scss file with vars, functions, mixins and added fonts
  src/assets/fonts/Roboto-Regular.woff
  src/assets/fonts/Roboto-Regular.woff2
  src/assets/scss/common.scss
  src/assets/scss/common/_fonts.scss
  src/assets/scss/shared.scss
  src/assets/scss/shared/_functions.scss
  src/assets/scss/shared/_mixins.scss
  src/assets/scss/shared/_variables.scss
  src/components/HelloWorld.vue
  vite.config.js
Due: npm run el:fix, npm run sl:fix, prettier --write

Added font files in prettierignore
  .prettierignore
Due: prettier --write

Added stylelint-order with custom properties order
  .stylelintrc.json
  package-lock.json
  package.json
Due: prettier --write
